h1{color:red;
background-color: black;}
h2{color:rgb(0, 255, 64);
background-color: cornsilk;}
h3{color:rgb(192, 175, 175);
background-color: darkblue;}
h4{color:rgb(32, 23, 23);}
h5{color:rgb(172, 167, 170);}
h6{color:rgb(27, 4, 4);
background-color: darkgoldenrod;}